<ul class="list-group">
  <li class="list-group-item">
    <strong>HP</strong>
    <span class="badge">
      {{pkmCtrl.pokemon.state.hp}}
    </span>
  </li>
  <li class="list-group-item">
    <strong>Attack</strong>
    <span class="badge">
      {{pkmCtrl.pokemon.state.attack}}
    </span>
  </li>
  <li class="list-group-item">
    <strong>Defense</strong>
    <span class="badge">
      {{pkmCtrl.pokemon.state.defense}}
    </span>
  </li>
  <li class="list-group-item">
    <strong>Special Attack</strong>
    <span class="badge">
      {{pkmCtrl.pokemon.state['sp.atk']}}
    </span>
  </li>
  <li class="list-group-item">
    <strong>Special Defense</strong>
    <span class="badge">
      <!-- no entiendo, porque lo hace de esa manera -->
      {{pkmCtrl.pokemon.state['sp.def']}}
    </span>
  </li>
  <li class="list-group-item">
    <strong>Speed</strong>
    <span class="badge">
      {{pkmCtrl.pokemon.state.speed}}
    </span>
  </li>
  <li class="list-group-item">
    <strong>Total</strong>
    <span class="badge">
      {{pkmCtrl.pokemon.state.total}}
    </span>
  </li>
</ul>